
/* BARRA SECCIONES - START */

.sense-pels-sections {
    white-space: nowrap;
    border-bottom: 1px solid #ebebeb;
}

.sense-pels-sections {
    border-bottom: 10px solid #333;
}

.single-videos-seo .sense-pels-sections {
    display: none;
}

.sense-pels-sections {
    margin-top: 14px;
    overflow-x: auto;
}

.propostes .sense-pels-sections {
    background-color: #f4d9c5;
}

.category-video.propostes .sense-pels-sections,
.video.propostes .sense-pels-sections,
.author.propostes .sense-pels-sections,
.tag.propostes .sense-pels-sections {
    background-color: #fff;
}

.sense-pels-sections .sense-pels-sections-menu {
    font-size: 0;
    text-align: center;
    margin: 14px 0;
    padding: 0;
}

.sense-pels-sections .sense-pels-sections-menu {
    margin: 0;
}

.sense-pels-sections .sense-pels-sections-menu {
    text-align: unset;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category {
    display: inline-block;
    text-align: center;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category {
    background-color: #ffffff;
    min-width: 110px;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category,
.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.prinpage {
    border-bottom: 10px solid #3ea6d1;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.propostes {
    border-bottom: 10px solid #495491;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.ets {
    border-bottom: 10px solid #d91E5d;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.consultori {
    border-bottom: 10px solid #1c9587;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.abus {
    border-bottom: 10px solid #f1971f;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.menstruacio {
    border-bottom: 10px solid #eb88b3;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.productes {
    border-bottom: 10px solid #824080;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.feminisme {
    border-bottom: 10px solid #8fba54;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.literatura-erotica {
    border-bottom: 10px solid #ffc711;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    padding: 1px 10px;
    color: #000000;
    letter-spacing: 1.2px;
    font-weight: 500;
    outline: none;
    font-family: 'amplitude-medium-condensed';
    text-transform: uppercase;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category a.seccion-activa {
    font-weight: bold;
    background-color: aliceblue;

}

#menu {
    color: blueviolet;
}


.sense-pels-sections .sense-pels-sections-menu li.nav-item-category a {
    padding: 0;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #919191;
}

.prinpage .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #3ea6d1;
}

.propostes .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #495491;
}

.andalucia .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #009960;
}

.ets .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #d91E5d;
}

.consultori .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #1c9587;
}

.abus .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #f1971f;
}

.trailer .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #824080;
}

.feminisme .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #8fba54;
}

.okclub .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #80aee0;
}

.video .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover,
.category-video .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #ffc711;
}

.archive.author .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover,
.archive.tag .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a:hover {
    color: #6c6e6f;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category a,
.page .sense-pels-sections .sense-pels-sections-menu li.nav-item-category a {
    font-family: 'amplitude-bold-condensed';
    font-size: 14px;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.prinpage a:hover {
    color: #3ea6d1;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.propostes a:hover {
    color: #495491;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.ets a:hover {
    color: #d91E5d;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.consultori a:hover {
    color: #1c9587;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.abus a:hover {
    color: #f1971f;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.menstruacio a:hover {
    color: #eb88b3;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.productes a:hover {
    color: #824080;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.feminisme a:hover {
    color: #8fba54;
}

.sense-pels-sections .sense-pels-sections-menu li.nav-item-category.literatura-erotica a:hover {
    color: #ffc711;
}

    .propostes .navTop ul li a {color: #f1971f;}

    .propostes .navTop ul li.sections .nav-icon .burger,
    .propostes .navTop ul li.sections .nav-icon .burger:before,
    .propostes .navTop ul li.sections .nav-icon .burger:after
    {background: #f1971f;}

.consultori .okdiario-seccion h1 {background-color: #f1971f;}

    .consultori .navTop ul li a {color: #f1971f;}

    .consultori .navTop ul li.sections .nav-icon .burger,
    .consultori .navTop ul li.sections .nav-icon .burger:before,
    .consultori .navTop ul li.sections .nav-icon .burger:after
    {background: #f1971f;}

    /* Definició de la paleta de colors */

    :root {
        --carn: rgba(247,233,198);  
        --rosaClar: rgb(228,124,124);
        --rosaObscur: rgb(156,52,84);
        --verdClar: rgb(140,188,164)        ;
        --verdObscur: rgb(84,108,108); 
      }

body {

    /*url(fotos/madera_rosa.jpg) */
    background-color: var(--verdClar);
    background-size: cover;
    margin-left: 2mm;
    margin-right: 2mm;
    background-repeat: no-repeat;
    margin: 2mm;
}

ul {
    list-style-type: circle;
}

h1 {
    color: var(--rosaClar);
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Lobster';
    margin: 5mm;

}

h2 {

    color: var(--carn);
    font-weight:550;
    font-size: 3rem;
    text-align: left;
    margin: 10mm;
}

h3 {
    font-family: 'Amatic SC';
    font-weight: 700;
    color: var(--rosaObscur);
    font-size: 2rem;
    text-align: left;
    margin: 5mm;
}

.clarh3 {
    font-family: 'Amatic SC';
    font-weight: 700;
    color: var(--rosaClar);
    font-size: 2rem;
    text-align: left;
}

.fosch3 {
    font-family: 'Amatic SC';
    font-weight: 700;
    color: var(--rosaObscur);
    font-size: 2rem;
    text-align: left;
}

.titolLateral{
    font-family: 'Amatic SC';
    color:  rgb(92, 10, 44);
    font-size: 5mm;
    text-align: left;
}

/**
* Requadres on ficar text
*
*/

.requadre {
    background: white; 
    padding: 15px; 
    border-left: 5px solid var(--rosaObscur);
    margin-bottom: 5mm;
}

.requadre2 {
    background:var(--verdObscur); 
    color:white; 
    padding:15px; 
}

.requadreLateral {
    background: #f7f5f5; 
    padding: 10px; 
    margin-right: 5mm;
    margin-bottom: 5mm;
    margin-left: 5mm;
}

.rectangleText {
    background-color: white;
    padding: 60px;
    width: 800px;
    border: 1px solid rgba(65, 63, 63, 0.623);
    color: black;
    margin: 10px;
}


/*
* Botons varis
*
*/

.btn-primary {
    background-color: var(--verdObscur);
    border-color: var(--verdObscur);
    color:black;
}

.btn-secondary {
    background-color: var(--rosaClar);
    color: black;
    border-radius: 3m;
}

.btn-outline-primary {
    border-color: var(--rosaClar);
    color: var(--rosaClar);
    lighting-color: var(--verdObscur);
}

.btn-outline-primary:hover {
    background-color: var(--rosaClar);
    border-color: var(--rosaObscur);
    color: var(--rosaObscur);
    /*background-image: url(fotos/sifilis_0.jpg);*/
}

.botoTemaPrincipal {
    font-size: 7mm;
    font-weight: 500;
    margin: 5mm;
    height: 30mm;
    width: 60mm;
    border-radius: 2mm;
}

#btnPropostes{
    border-color: var(--rosaObscur);
    background-color: var(--rosaClar);
    color: white;
    border-width: 1mm;
}

#btnPropostes:hover {
    background-image: url(fotos/gonorrea.jpg);
}

#btnETS{
    border-color: var(--verdObscur);
    background-color: var(--verdClar);
    color: white;
    border-width: 1mm;
}

#btnETS:hover {
    background-image: url(fotos/vph_1.jpg);
}

#btnForum{
    border-color: rgb(141, 111, 47);
    background-color: var(--carn);
    color: rgb(141, 111, 47);
    border-width: 1mm;
}

#btnForum:hover {
    background-image: url(fotos//fff.png);
}

#btnFeminisme{
    border-color: var(--rosaObscur);
    background-color: var(--rosaClar);
    color: white;
    border-width: 1mm;
}

#btnFeminisme:hover {
    background-image: url(fotos//fff.png);
}

#btnRelats{
    border-color: var(--verdObscur);
    background-color: var(--verdClar);
    color: white;
    border-width: 1mm;
}

#btnRelats:hover {
    background-image: url(fotos//fff.png);
}

#btnConsultori{
    border-color: rgb(141, 111, 47);
    background-color: var(--carn);
    color: rgb(141, 111, 47);
    border-width: 1mm;
}

#btnConsultori:hover {
    background-image: url(fotos//fff.png);
}

#btnAbus{
    border-color: var(--rosaObscur);
    background-color: var(--rosaClar);
    color: white;
    border-width: 1mm;
}

#btnAbus:hover {
    background-image: url(fotos//fff.png);
}

#btnMenstruacio{
    border-color: var(--verdObscur);
    background-color: var(--verdClar);
    color: white;
    border-width: 1mm;
}

#btnMenstruacio:hover {
    background-image: url(fotos//fff.png);
}

#btnProductes{
    border-color: rgb(141, 111, 47);
    background-color: var(--carn);
    color: rgb(141, 111, 47);
    border-width: 1mm;
}

#btnProductes:hover {
    background-image: url(fotos//fff.png);
}

/**
* Contenidors per a fer columnes dreta i esquerra: navegació local i contextual
*
*/

.contenidor {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    right: 0mm;
    left: 0mm;
}

.leftThing {
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    left: 0mm;
    top: 0mm;
    width: 15%;
    margin-right: 5mm;
}

.content {
    width: 70%;
    top: 0mm;
    margin-right: 2mm;
}

.rightThing {
    width: 15%;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    right: 0mm;
    top: 0mm;
    margin-left: 5mm;
}

.uvc-heading-spacer .image_only{
    margin-bottom: 0mm;
}


  /*****
  * Tot el que fa referència a l'estil de la barra menú superior.
  * Navegació Global.
  * I altres navbar
  ****/

.navbar .nav-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  
  .dropdown-menu {
    margin-top: 0;
  }


  .navbar{
      background-color: white;
  }

  .nav-item{
      background-color: white;
      border-bottom-style: solid;
      border-width: 3mm;
      border-bottom-color: var(--verdObscur);
  }

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--rosaObscur);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: var(--rosaObscur);
    font-family: 'Monoespaciado';
    font-size: 20px;
    font-weight: 700;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--rosaClar);
}

#barraPrincipal{
    background-color: var(--rosaObscur);
}
